.Oppdater {
	margin-top: 2vw;
    margin: auto;
	text-align: center;
	padding:10px;
	width:70vw;
  
}

input[type=text] {
    width:100px;
	margin: 1vw;
	margin-bottom:1vw;
	-webkit-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out; 
    
}

input[type=text]:focus {
    width:200px;
	-webkit-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out; 
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:hover {
	background: #E8E8EE;
}
footer {
    padding: 1vw;
    margin-top: 50px;
    overflow: hidden; /*For å fikse en bug i css*/
    background-color: rgba(50,50,50,0.75);
    border: 1px 0px 0px 0px black solid;
    color: #fff;
}
footer a {
    float: right;
    text-decoration: none;
    color: #fff;
    
}
footer p {
    float: left;
    
}
