
.Oversikt {
	margin: auto;
	min-width: calc(728px*0.8);
    max-width: 80vw;
    display: flex;
    justify-content: center;
    
    /*Midtstiller content*/
}
.Wrapper {
    margin: 0 auto;
    margin-top: 1vw;
    min-width: calc(728px*0.8);
    max-width: 90vw;
    padding-top 10px;
    
}

h1 {
    margin: 0;
    text-align: center;
    /*Midtstiller tekst*/
}
table {
    border-collapse: collase; /*istedenfor å holde tabelborders adskilt vil de her kolapse inn i en eneste border*/
    width: 100%;
    font-size: 20px;
    background: #9ABFFF;
	
}
th, a {
	color: black;
	text-decoration: none; /*Fjerner linje under linken og bytter ut fargen*/
}
th, a:hover {
	color: lightgrey;
}

th, td {
    text-align: left;
    width: 10vw;
	padding: 2vw;
    

}
#mini {
    width: 1vw;
    height: 1vw;
}
        /*Her defineres det at hvert HELE child-element skal ha hvitish (95%) farge EKS: 2 og 4 er hvitish*/
tr:nth-child(even){ 
	background-color: #f2f2f2
}

p {
	text-align: center;
}
.info {
	margin: auto;
	width: 70vw;
}
.Ring {
    margin-top: 40px;
    text-align: center;
    font-size: 20px
}
.Pluss {
    margin-top: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;

    -webkit-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out; 
}
.Pluss:hover {
    opacity: 0.5;
}
footer {
    padding: 1vw;
    margin-top: 50px;
    overflow: hidden; /*For å fikse en bug i css*/
    background-color: rgba(50,50,50,0.75);
    border: 1px 0px 0px 0px black solid;
    color: #fff;
}
footer a {
    float: right;
    text-decoration: none;
    color: #fff;
    
}
footer p {
    float: left;
    
}
#Piler {
    width: 1vw;
}

